@charset "UTF-8";
@import 'bourbon/bourbon';
@import 'normalize';


/****************************************
 ----------------------------------------
 * VARIAVEIS *
 ----------------------------------------
 ****************************************/
$branco: #fff;
$texto: #5A3228;
$amarelo: #FFD37B;
$vermelho: #FF876B;
$verde: #D6E673;
$marrom: #9B6157;
$fundo: #fdfcfa;

$fonte-texto: 'Nunito',sans-serif;
// $fonte-texto: 'Poppins',sans-serif;
$fonte-titulo: 'Merienda',cursive;

$arredondado: 10px;

@mixin tam-container() {
	width: 1110px;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
}

@mixin tam-texto() {
	width: 740px;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
}

@mixin flex($dir) {
    @include display(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content($dir);
}

@mixin borda() {
	border: 1px solid lighten($marrom,40%);
	border-radius: $arredondado;
	position: relative;

	&:before {
		z-index: -1;
		content: "";
		position: absolute;
		top: 6px;
		left: 6px;
		width: calc(100% + 3px);
		height: calc(100% + 3px);
		background: $branco;
		// background: lighten($amarelo,23%);
		border-radius: $arredondado;
	}
}


/****************************************
 ----------------------------------------
 * LAYOUT **
 ----------------------------------------
 ****************************************/

html, body{ overflow-x: hidden }

body {
	font-size: 16px;
	line-height: 1.7;
	overflow-x: hidden; 
	font-family: $fonte-texto;
	font-weight: normal;
	position: relative;
	min-height: 100vh;
	background: $fundo;
	color: $texto;
}

h1, h2, h3, h4, h5 {
	font-family: $fonte-titulo;
	font-weight: normal;
	color: $texto;
}

a, a:link, a:active, a:visited {
	color: darken($amarelo,40%);
	text-decoration: none;

	.conteudo &:hover, .rodape &:hover {
		border-bottom: 1px solid $vermelho;
	}
}

strong {font-weight: 700}

img {max-width: 100%; vertical-align: bottom;}

hr {
	width: 80%;
	height: 2px;
	background: $amarelo;
	border: 0; outline: 0;
}

ul, ol {
	list-style: none;
	counter-reset: section;
	margin: 0; padding: 0;

	li {
		padding: 4px 0;

		&:before {
			font-weight: 700;
			display: inline-block;
			margin-right: 6px;
			color: darken($amarelo,30%);
		}
	}
	
}
ul {
	li {
		&:before {
			content: "\2022";
			vertical-align: middle;
		}
	}
}
ol {
	li:before {
		counter-increment: section;
		content: counter(section) ".";
		vertical-align: baseline;
		font-family: $fonte-titulo;
	}
}


////////////////////////////////////// CABECALHO
#header {
	width: 100%;
	position: relative;
	min-height: 300px;
	margin-bottom: 50px;
	
	.fundo {
		margin-top: -30px;
		width: calc(100% + 30px);
		max-width: calc(100% + 30px);
		@include transform(translateX(-20px));
	}

	a.marca {
		width: 22%;
		min-width: 210px;
		position: absolute;
		top: 20%;
		left: 50%;
		margin: 0 auto;
		@include transform(translateX(-50%));

		img {width: 100%;}
	}

	.menu {
		margin: 20px 0 0 0;
		position: absolute;
		display: inline-flex;
		bottom: 0;
		left: 50%;
		@include transform(translateX(-50%));
		border:0;
		outline: 0;
		background: transparent;
		font-family: $fonte-texto;
		font-weight: 900;
		text-transform: uppercase;
		color: $vermelho;
	    padding: 0;
	    line-height: 1;
	    letter-spacing: 0.3em;
	    font-size: 13px;
	    cursor: pointer;
	    white-space: nowrap;

	    &:before, &:after {
	    	content: "";
	    	width: 144px;
	    	height: 4px;
	    	display: inline-block;
	    	background: url('../img/div-menu.png') no-repeat center center;
	    	vertical-align: middle;
	    	position: relative;
	    }

	    &:before {margin-right: 10px;}
	    &:after {margin-left: 8px;}

	    a {
	    	color: $texto;
	    	@include transition(color 0.3s ease-in-out);

	    	&:hover {color: darken($verde,35%);}
	    }

	}


	body#home & {
		min-height: 425px;
		
		a.marca {
			width: 34%;
			max-width: 434px;
		}

		@media (min-width: 1281px) {
			min-height: 430px;
		}
	}


	@media (min-width: 1281px) {
		a.marca {
			width: 290px; height: 176px;
		}
	}

	@media (max-width: 1280px) {
		.fundo {
			position: absolute;
			margin-top: 0;
			top: -10%;
			left: 50%;
			width: 1300px;
			max-width: 1300px;
			height: 240px;
			@include transform(translateX(-50%));
		}
	}

	@media (max-width: 1160px) {
		min-height: 265px;

		body#home & {min-height: 395px;}
	}

	@media (max-width: 960px) {
		min-height: 240px;

		body#home & {min-height: 330px;}
	
	}

	@media (max-width: 700px) {
		min-height: 240px;

		body#home & {
			min-height: 255px;
		}
	
	}


	@media (max-width: 480px) {
		min-height: 220px;

		.fundo {
			height: 180px;
		}

		.menu {
		    
			 &:before, &:after {
			 	width: 40px;
			 	top: 4px;
			 }
		}

		body#home & {
			min-height: 290px;

			.fundo {top: -6%;}

			.menu {
				white-space: normal;
			    display: block;
			    text-align: center;

			    span {display: none;}

			    &:before, &:after {
			    	width: 100%;
				    top: inherit;
				    display: block;
				    height: 18px;
			    }

			    a {display: block; margin: 6px 0;}
			}
		}
	}
}


////////////////////////////////////// CONTEUDO
.conteudo {
	@include tam-container();
	padding: 0 0 20px;
	margin-bottom: 40px;

	.coluna-media { 
		width: calc(50% - 20px);

		@media (max-width: 700px) {
			width: 100%;
		}
	}
	.coluna-full { margin-top: 30px; width: 100%;  }

	header {
		width: 100%;
		margin: 0 0 50px;
		text-align: center;

		h3 {
			font-family: $fonte-texto;
			font-size: 10px;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: darken($verde,35%);
			display: block;

			&:before, &:after {
				font-weight: 700;
				display: inline-block;
				margin: 0 8px;
				color: darken($amarelo,30%);
				content: "\2022";
				line-height: 1;
				vertical-align: text-top;
			}
		}

		h1 {
			margin: 10px 0;
			line-height: 1.2;
		}
	}

	.receita {
		width: 100%;
		@include flex(space-between);

		.item {
			padding: 30px;
			@include borda();
			font-weight: 300;
			margin: 0 0 50px;

			&.ingredientes {background: url('../img/bg-itemreceita.png') no-repeat bottom right;}
			&.modopreparo {background: url('../img/bg-itempreparo.png') no-repeat bottom right;}

			h2 {
				position: absolute;
				top: 0;
				margin: 0;
				line-height:1;
				left: 20px;
				// background: $branco;
				padding: 10px;
				border-radius: $arredondado;
				text-shadow: 2px 2px 1px $branco;
				@include transform(translateY(-50%));

				&:before {
					content: "";
					width: 100%;
					height: 1px;
					background: $fundo;
					top: 21px;
					left: 0;
					position: absolute;
					z-index: -1;
				}
			}

			h3, h4, h5 {margin-bottom: 0}

		}

		figure {
			width: calc(100% - 6px); margin: 6px 0 30px 6px;
			position: relative;

			&:after {
				border: 1px solid lighten($marrom,40%);
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: -6px;
				left: -6px;
				border-radius: $arredondado;
			}

			img {
				width: 100%; position: relative;
				border-radius: $arredondado;
			}
		}

		button.btimprimir {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border: 1px solid lighten($marrom,40%);
			border-radius: $arredondado / 2;
			outline: 0;
			background: $branco;
			font-family: $fonte-texto;
			font-weight: 900;
			text-transform: uppercase;
			padding: 3px 8px;
			line-height: 1;
			letter-spacing: 0.1em;
			font-size: 11px;
			cursor: pointer;	
			color: $texto;	
			position: absolute;
			top: -15px;
			right: 20px;
			z-index: 2;

			&:before {
				content: '\2399';
				display: inline-block;
				margin-right: 8px;
				color: $vermelho;
			    vertical-align: sub;
			    line-height: 1;
			    font-size: 28px;
			}		

			&:hover {
				color: darken($verde,35%);
			}

			@media (max-width: 780px) {
				display: none;
			}
		}

		.frase {
			width: 100%;
			text-align: center;
			font-family: $fonte-texto;
			font-size: 11px;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			margin: 0 0 30px;
			&:before, &:after {
				font-weight: 700;
				display: inline-block;
				margin: 0 8px;
				color: $vermelho;
				content: "\2022";
				line-height: 1;
				vertical-align: text-top;
			}
		}

		aside {
			border-radius: $arredondado;
			color: $texto;
			text-shadow: 1px 1px 1px lighten($verde,15%);
			letter-spacing: 0.025em;
			margin: 0 0 30px;
			padding: 10px 30px;
			width: calc(100% - 6px);
			@include borda();

			&:before {background: lighten($verde,20%);}
		}


		blockquote {
			border-radius: $arredondado;
			color: $texto;
			text-shadow: 1px 1px 1px lighten($vermelho,15%);
			letter-spacing: 0.025em;
			margin: 0 0 30px;
			padding: 10px 30px;
			width: calc(100% - 6px);
			@include borda();

			&:before {background: lighten($vermelho,22%);}
		}

		.wrap-tabela {
			width: calc(100% - 6px);
			

			// @media (max-width: 780px) {
			// 	overflow-x: auto;
			// }
		}


		table {
			width: 100%;
			// min-width: 500px;
			padding-bottom: 3px;
			background: $branco;
			border-spacing: 0;
			font-size: 12px;
			position: relative;
			margin: 75px 0 20px 9px;

			caption {
				position: absolute;
				left: 50%;
				top: -10px;
				@include transform(translate(-50%,-100%));
				text-transform: uppercase;
				font-size: 11px;
				font-weight: bold;
				letter-spacing: 0.035em;
				color: darken($amarelo,40%);
				white-space: nowrap;
			}

			&.tabela-print {display: none;}

			&:after {
				border: 1px solid lighten($marrom,40%);
				content: "";
				width: 100%;
				height: calc(100% + 9px);
				position: absolute;
				top: -6px;
				left: -6px;
				border-radius: $arredondado;
			}

			tr {
				td, th {
					padding: 5px; 
					text-align: center; 
				}

				th {
					text-shadow: 1px 1px 1px transparentize($texto,0.9);
					position: relative;

					&:nth-of-type(3n+1) {background: $amarelo}
					&:nth-of-type(3n+2) {background: $vermelho}
					&:nth-of-type(3n+3) {background: $verde}

					&:first-child {
						border-top-left-radius: $arredondado;
					}

					&:last-child {
						border-top-right-radius: $arredondado;
					}

				}
			}


			@media (max-width: 960px) {
				&.tabela-maior {
					width: 100%;
					max-width: 480px;
					margin-left: auto;
					margin-right: auto;
					display: block;
					@include flex(space-between);

					tr { 
						display: block;
						th:last-child {
							border-top-right-radius: 0;
							border-bottom-left-radius: $arredondado;
						}
					}
					th, td { display: block;}

					thead, tbody {
						width: 50%;
						display: block;
						position: relative;
					}
				}
			}

			@media (max-width: 480px) {
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				display: block;
				@include flex(space-between);

				tr { 
					display: block;
					th:last-child {
						border-top-right-radius: 0;
						border-bottom-left-radius: $arredondado;
					}
				}
				th, td {display: block;}

				thead, tbody {
					width: 50%;
					display: block;
					position: relative;
				}
			}
		}

		@media (max-width: 1110px) {
			padding: 0 15px 0 20px;
		}
	}

	.portal {
		width: 100%;
		@include flex(space-between);

		.capitulo {
			padding: 30px;
			font-weight: 300;
			margin: 0 0 50px;
			width: calc(50% - 20px);
			height: 400px;
			text-align: center;
			border-radius: $arredondado;
			position: relative;
			// overflow: hidden;

			// &:before {
			// 	content: "";
			// 	width: 100%; height: 100%;
			// 	position: absolute;
			// 	top: 0; left: 0;
			// 	background: transparentize($branco,0.6);
			// 	display: block;
			// }

			&:after {
				border: 1px solid $marrom;
				content: "";
				width: 100%; height:100%;
				position: absolute;
				top: -6px;
				left: -6px;
				border-radius: $arredondado;
			}

			.foto {
				width: 100%; height: 100%;
				position: absolute;
				top: 0; left: 0;
				display: block;
				overflow: hidden;
				opacity: 0.3;
				border-radius: $arredondado;

				&:before {
					width: 100%; height: 100%;
					position: absolute;
					content: "";
					top: 0; left: 0;
					@include filter(blur(9px));
					@include transform(scale(1.1));
					background-position: bottom center;
					background-size: cover;
					background-repeat: no-repeat;
					display: block;
				}
			}

			.info {
				position: absolute;
				top: 50%;
				width: 100%;
				left: 0; z-index: 4;
				padding: 0 20px;
				@include transform(translateY(-50%));
				// text-shadow: 1px 1px 3px $branco;

				h2 {
					font-size: 2.8em;
					margin: 0;
				}

				h3 {
					font-family: $fonte-texto;
					font-weight: bold;
				}

				button {
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					border:0;
					border-radius: $arredondado / 2;
					outline: 0;
					background: $branco;
					font-family: $fonte-texto;
					font-weight: 900;
					text-transform: uppercase;
					padding: 12px 30px;
					line-height: 1;
					letter-spacing: 0.1em;
					font-size: 11px;
					cursor: pointer;	
					color: $texto;
					box-shadow: 2px 2px 0 $marrom;
					@include transition(background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out, box-shadow 0.3s ease-in-out);

					&:hover {
						background: $vermelho;
						color: $branco;
					}
					
					

				}
			}

			&:nth-of-type(1) .foto:before {background-image: url(../img/cap1.jpg);}
			&:nth-of-type(2) {
				.foto:before {background-image: url(../img/cap2.jpg);}
				button:hover {background: darken($verde,25%); border-color: darken($verde,25%); box-shadow: 2px 2px 0 darken($verde,50%);}
			}
		}

		@media (max-width: 1110px) {
			padding: 0 15px 0 20px;
		}

		@media (max-width: 700px) {
			.capitulo {
				width: 100%;
				height: 280px;
			}
		}
	}

	.pagina {
		width: 100%;
		padding: 30px;
		@include borda();
		font-weight: 300;
		@include flex(space-between);

		h1, .folha-rosto {width: 100%;}

		.folha-rosto { text-align: center;}

		.catalografica {
			width: 100%;
			@include flex(space-between);
			border: 1px solid $texto; width: 100%; 
			margin: 50px 0;
			font-size: 0.9em;

			.titulo {width: 100%; font-weight: 700; border-bottom: 1px solid $texto; padding: 15px}

			.codigo { width: 8%; padding: 15px 15px 0 15px; font-size: 1.1em; }
			
			.dados {width: 88%; text-align: left; padding: 15px 15px 0 15px;

				.cdu {text-align: right;}
			}
		}
	}
}

////////////////////////////////////// RODAPE

#rodape {
	margin: 40px 0 0;
	width: 100%;
	text-align: center;
	font-family: $fonte-texto;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: darken($verde,35%);
	background: url('../img/bg-footer.png') repeat-x center bottom;
	padding: 0 0 75px;

	span {
		&:before, &:after {
			font-weight: 700;
			display: inline-block;
			margin: 0 8px;
			color: darken($amarelo,30%);
			content: "\2022";
			line-height: 1;
			vertical-align: text-top;
		}
	}
}
